@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26.4px;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
    background: url("./assets/images/bg01.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.layer {
    background-color: rgba(28, 44, 44, 0.8);
    height: 100%;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content {
    flex-grow: 1;
    padding-top: 35vh;
    margin-bottom: 100px;
}

.heading {
    font-size: 52px;
    line-height: 65px;
    margin-bottom: 25px;
}

.desc {
    margin-bottom: 20px;
    width: 400px;
}

.email{
    padding: 5px 10px;
    border-style: solid;
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    width: 300px;
}

.email::placeholder {
    color: #ffffff;
}

.btn{
    background-color: #1cb495;
    padding: 5px 15px;
    border-style: solid;
    border-color: #1cb495;
    border-radius: 5px;
    margin-left: 10px;
}

.underline {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

@media only screen and (max-width: 500px) {
    .heading {
        display: none;
    }
    
    .desc {
        display: none;
    }

    .email{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .btn{
        display: block;
        width: 100%;
        margin-left: 0;
    }
    
}