@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
    background: url("./assets/images/bg01.jpg") no-repeat center center/cover;
}