* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
    background: url("./assets/images/bg01.jpg") no-repeat center center/cover;
}